@charset "utf-8";
html, body{
	margin:0; padding:0;
	height:100%;
}
#wrap{
	display: flex;
	flex-direction:column;
	height:100%;
}
.main-content{
	flex: 1;
}

footer {
	padding: 50px;
}

.footerService li {
	float: left;
	color: #ccc; font-size: 14px;
	padding: 10px 2px;
}

.footerService li:first-child {
	padding: 10px 2px 10px 0;
}

.footerService li:nth-child(2n-1) {
	cursor: pointer
}

.footerPrivacyPolicy {
	font-weight: bold;
}

.footerContact li {
	font-size: 14px;
}

.footerContactLeft {
	display: inline-block;
	width: 200px;
}

.popup {
	position: fixed; 
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
}

.popupBox {
	width: 500px;
	background-color: #fff;
	color: #000;
	margin: 20px auto;
	position: relative;
	padding: 30px;
}

.popupTitle {
	color: #000;
	float: left;
}

.popupHead {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.popupClose {
	color: #000;
	float: right;
	background-color: #fff;
	border: none;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;
}

.popupText {
	color: #000;
	font-size: 14px;
	padding-top: 10px;
}

.popup {
	display: none;
}