@charset "utf-8";

#wrap {padding-left:240px;}

h1 {
	text-align:center;
	font-size: 26px;
	padding:20px;
}

.getVideo {
	width: 1200px;
	margin: 0 auto;
}

.left {
	float:left;
	width: 200px;
}

.right {
	float:left;
}

.getVideoRow {
	padding-top: 10px;
}

.linkBox {
	text-align: center;
}

#videoThumbnail {
	width: 500px;
	height: 250px;
}

#videoThumbnail img {
	width: 500px;
	height: 250px;
	object-fit: scale-down;
}

#video {
	width: 500px;
}

.linkBox > a:hover {
	color: #ccc;
}