@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body, h1, h2, h3, h4, p, ol, dl, dt, dd, table, tr, td, input, select { 
	margin: 0; padding: 0; color: #000;
  	}
ul, li {
	margin: 0; padding: 0; color: #eee;
}
html {
	background-color:#000;
  	}
header, footer, div, section, nav, aside, p, table, tr, td, input, select { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; color: #eee; }
img { vertical-align: top; } 
.clear::after { content: ""; display: block; clear:both; }

*{
	box-sizing : border-box;
}
body {
  margin: 0;
}

#root{
	background: #000;
	width: 100%;
	height: 100%;
}
.content{
	padding: 0 0 0 240px;
	height:100%;
	color: #000;
}

.maincontent{
	background: #fff;
	margin:0 auto;
	-webkit-flex:1;
    -ms-flex:1;
    flex:1;
    padding:0 0 101px;
}

main{
	text-align: center;
}

h2{
	color:#000;
	margin:0;
	padding:60px 60px 0 60px;
}

a{
	padding:8px;
}

a:link, a:visited{
	text-decoration-line:none;
	color:#000;
}   

a:hover{
	color:#888;
}

.insertBoard{
	margin: 0 auto;
	width: 1000px;
	font-size: 20px;
}

.insertBoard tr td{
	border: 1px solid #000;
}
.inserttitle{
	width: 150px;
}

.insert {
	text-align:center;
	height: 70px;
}

.insertcontent {
	height: 500px;
}

.insertinput {
	width: 100%;
	height: 100%;
}

.icon a{
	text-decoration-line: none;
	color: #fff;
}